<!DOCTYPE html>
<html lang="en">
<head>
  <title>BookmyHotel</title>
  <link rel="stylesheet" href="stylesheet/style.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
  <script type="text/javascript" src="app.js">

  </script>
 <style type="text/css">

            body {font-family:Arial, Sans-Serif;}

            #container {width:900px; margin:0 auto;
            column-rule-color: inherit;}

            /* Nicely lines up the labels. */
            form label {display:inline-block; width:140px;}

            /* You could add a class to all the input boxes instead, if you like. That would be safer, and more backwards-compatible */
            form input[type="text"],
            form input[type="password"],
            form input[type="email"] {width:800px; color: white;font-size: 20px;font-family:cursor;
            height: auto; background-color: inherit;height: 100%;}

            form .line {clear:both;
            height: auto;}
            form .line submit {text-align:right; background-color: inherit;color: inherit;}
 </style>
</head>
<body background="images/a23.jpg" ng-app="myApp">
<nav class="navbar navbar-inverse">
  <ul class="nav navbar-nav">
    <li class="active"><a href="index.html">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Services <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="hospitolity.html">Hospitality</a></li>
          <li><a href="cab.html">CabServices</a></li>
          <li><a href="fitnes.html">Fitness</a></li>

        </ul>
      </li>
       <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="accomodation.html">Accomodation<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="single.html">SingleDeluxSuite</a></li>
          <li><a href="duplex.html">DoubleDeluxSuite</a></li>
          <li><a href="romantic.html">RomanticSuite</a></li>

        </ul>
      </li>
      <li><a href="offers.html">Offers</a></li>
      <li><a href="gallery.html">Gallery</a></li>
      <li><a href="booking.html">Registration</a></li>
      <li><a href="contact.html">Contact</a></li>
      <li><a href="login.html">Login</a></li>

      <li><a href="aboutus.html">Aboutus</a></li>
      <li><a href="checkin.html">checkout/checkin</a></li>
    </ul>
  </div>
</nav>
<div id="container">
   <form ng-controller="RegisterController" method="post">
       <h1>Registration</h1>
       <div class="line"><label for="username">Username *: </label><input type="text" id="username" ng-model="username"></div>
       <div class="line"><label for="pwd">Password *: </label><input type="password" id="pwd" ng-model="pwd"></div>
       <!-- You may want to consider adding a "confirm" password box also -->
       <div class="line"><label for="surname">Surname *: </label><input type="text" name="surname" id="surname" ng-model="surname"></div>
       <div class="line"><label for="other_names">Other Names *: </label><input type="text" id="names" ng-model="names"></div>
       <div class="line"><label for="dob">Date of Birth *: </label><input type="text" id="dob" ng-model="dob"></div>
       <div class="line"><label for="email">Email *: </label><input type="text" id="email" ng-model="email"></div>
       <!-- Valid input types: http://www.w3schools.com/html5/html5_form_input_types.asp -->
       <div class="line"><label for="tel">Telephone: </label><input type="text" id="tel" ng-model="tel"></div>
       <div class="line"><label for="add">Address *: </label><input type="text" id="add" ng-model="add"></div>
       <div class="line"><label for="ptc">Post Code *: </label><input type="text" id="ptc" ng-model="ptc"></div>
       <div class="line submit"><input type="submit" value="Submit" ng-click="submit()"></div>

       <p>Note: Please make sure your details are correct before submitting form and that all fields marked with * are completed!.</p>
   </form>
</div>


</body>
</html>
