<!DOCTYPE html>
<html lang="en">
<head>
  <title>BookmyHotel</title>
  <link rel="stylesheet" href="stylesheet/style.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script type="text/javascript" src="app.js">
</script>
  <style>

.row{
  color: black;
}
.container{
  background-color: inherit;
  color: black;
}

  </style>
</head>
<body background="images/7.jpg" ng-app="myApp">
<nav class="navbar navbar-inverse">
  <ul class="nav navbar-nav">
      <li class="active"><a href="index.html">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Services <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="hospitolity.html">Hospitality</a></li>
          <li><a href="cab.html">CabServices</a></li>
          <li><a href="fitnes.html">Fitness</a></li>

        </ul>
      </li>
       <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="accomodation.html">Accomodation<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="single.html">SingleDeluxSuite</a></li>
          <li><a href="duplex.html">DoubleDeluxSuite</a></li>
          <li><a href="romantic.html">RomanticSuite</a></li>

        </ul>
      </li>
      <li><a href="offers.html">Offers</a></li>
      <li><a href="gallery.html">Gallery</a></li>
      <li><a href="booking.html">Registration</a></li>
      <li><a href="contact.html">Contact</a></li>
      <li><a href="login.html">Login</a></li>
      <li><a href="aboutus.html">Aboutus</a></li>
      <li><a href="checkin.html">Checkout/Checkin</a></li>
    </ul>
  </div>
</nav>
<h2 style="color:black; text-align:center;">Checkout Form</h2>
<div class="row">
  <div class="col-75">
    <div class="container">
      <form  ng-controller="checkinController" method="post">
        <div class="row">
          <div class="col-50">
            <h3 style="color:black;">Billing Address</h3>
            <label for="fname" style="color:black><i class="fa fa-user" require"></i> Full Name</label>
            <input type="text" id="fname" name="firstname" placeholder="name" require ng-model="fname">
            <label for="email"><i class="fa fa-envelope" style="color:black"></i> Email</label>
            <input type="text" id="email" name="email" placeholder="name@example.com"require ng-model="email">
            <label for="adr"><i class="fa fa-address-card-o" style="color:black"></i> Address</label>
            <input type="text" id="adr" name="address" placeholder="Street" require ng-model="adr">
            <label for="city"><i class="fa fa-institution" style="color:black"></i> City</label>
            <input type="text" id="city" name="city" placeholder="placeName" require ng-model="city">

            <div class="row">
              <div class="col-50">
                <label for="state" style="color:Black">State</label>
                <input type="text" id="state" name="state" placeholder="State" require ng-model="state">
              </div>
            </div>
          </div>

          <div class="col-50">
            <div class="row">
              <div class="col-50">
                <label for="date" style="color:black">date</label>
                <input type="text" id="date" name="date" placeholder="01/01/2018" ng-model="date">
              </div>
            </div>
          </div>

        </div>
        <label style="color:black;">
          <input type="checkbox" checked="checked" name="sameadr" ng-model="sameadr"> Shipping address same as billing
        </label>
        <input type="submit" value="Continue to checkout" class="btn" ng-click="submit()">
      </form>
    </div>
  </div>
</div>

</body>
</html>
